doctype html
html
	head
		meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title Llamados 15

		link(rel="stylesheet", href="css/reset.css")
		link(rel="stylesheet", href="css/styles.css")

	body
		header
			h1 Llamados 15 Cía


		section#llamados
			// Javascript hace su magia aqui...

		script(src="js/twitterFetcher_v10_min.js")
		script(src="js/scripts.js")